<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Muli&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles.css" />

    <title>Carousel</title>
  </head>

  <body>

    <section class="carousel">
      <div class="carousel__container">

        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="../img/three-woman-sitting-on-white-chair-in-front-of-table-2041627.jpg"
            alt="Tech Team"
          />
          <div class="carousel-item__details">
            <div>
              <img class="carousel-item__details--img" src="../assets/icons8-play-64.png" alt="Icono play" />
              <img class="carousel-item__details--img" src="../assets/icons8-añadir-48.png" alt="Icono más" />
            </div>
            <p class="carousel-item__details--title">Título provisional</p>
            <p class="carousel-item__details--subtitle">2019 16+ 10 minutos</p>
          </div>
        </div>

        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="../img/woman-using-silver-laptop-2265488.jpg"
            alt="Tech Girl"
          />
          <div class="carousel-item__details">
            <div>
              <img class="carousel-item__details--img" src="../assets/icons8-play-64.png" alt="Icono play" />
              <img class="carousel-item__details--img" src="../assets/icons8-añadir-48.png" alt="Icono más" />
            </div>
            <p class="carousel-item__details--title">Título provisional</p>
            <p class="carousel-item__details--subtitle">2019 16+ 10 minutos</p>
          </div>
        </div>

        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="../img/three-woman-sitting-on-white-chair-in-front-of-table-2041627.jpg"
            alt="Tech Team"
          />
          <div class="carousel-item__details">
            <div>
              <img class="carousel-item__details--img" src="../assets/icons8-play-64.png" alt="Icono play" />
              <img class="carousel-item__details--img" src="../assets/icons8-añadir-48.png" alt="Icono más" />
            </div>
            <p class="carousel-item__details--title">Título provisional</p>
            <p class="carousel-item__details--subtitle">2019 16+ 10 minutos</p>
          </div>
        </div>

        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="../img/woman-using-silver-laptop-2265488.jpg"
            alt="Tech Girl"
          />
          <div class="carousel-item__details">
            <div>
              <img class="carousel-item__details--img" src="../assets/icons8-play-64.png" alt="Icono play" />
              <img class="carousel-item__details--img" src="../assets/icons8-añadir-48.png" alt="Icono más" />
            </div>
            <p class="carousel-item__details--title">Título provisional</p>
            <p class="carousel-item__details--subtitle">2019 16+ 10 minutos</p>
          </div>
        </div>

        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="../img/three-woman-sitting-on-white-chair-in-front-of-table-2041627.jpg"
            alt="Tech Team"
          />
          <div class="carousel-item__details">
            <div>
              <img class="carousel-item__details--img" src="../assets/icons8-play-64.png" alt="Icono play" />
              <img class="carousel-item__details--img" src="../assets/icons8-añadir-48.png" alt="Icono más" />
            </div>
            <p class="carousel-item__details--title">Título provisional</p>
            <p class="carousel-item__details--subtitle">2019 16+ 10 minutos</p>
          </div>
        </div>

        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="../img/woman-using-silver-laptop-2265488.jpg"
            alt="Tech Girl"
          />
          <div class="carousel-item__details">
            <div>
              <img class="carousel-item__details--img" src="../assets/icons8-play-64.png" alt="Icono play" />
              <img class="carousel-item__details--img" src="../assets/icons8-añadir-48.png" alt="Icono más" />
            </div>
            <p class="carousel-item__details--title">Título provisional</p>
            <p class="carousel-item__details--subtitle">2019 16+ 10 minutos</p>
          </div>
        </div>

        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="../img/three-woman-sitting-on-white-chair-in-front-of-table-2041627.jpg"
            alt="Tech Team"
          />
          <div class="carousel-item__details">
            <div>
              <img class="carousel-item__details--img" src="../assets/icons8-play-64.png" alt="Icono play" />
              <img class="carousel-item__details--img" src="../assets/icons8-añadir-48.png" alt="Icono más" />
            </div>
            <p class="carousel-item__details--title">Título provisional</p>
            <p class="carousel-item__details--subtitle">2019 16+ 10 minutos</p>
          </div>
        </div>

        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="../img/woman-using-silver-laptop-2265488.jpg"
            alt="Tech Girl"
          />
          <div class="carousel-item__details">
            <div>
              <img class="carousel-item__details--img" src="../assets/icons8-play-64.png" alt="Icono play" />
              <img class="carousel-item__details--img" src="../assets/icons8-añadir-48.png" alt="Icono más" />
            </div>
            <p class="carousel-item__details--title">Título provisional</p>
            <p class="carousel-item__details--subtitle">2019 16+ 10 minutos</p>
          </div>
        </div>

      </div>
    </section>

  </body>
</html>
